body{
    display: flex;
    justify-content: center;
}
header{
    font-size: 23px;
    background-color: darkgray;
    border: black solid 3px;
}
.st{
        height: 25px;
        width: 25px;
    }
    a{
        text-decoration: none;
    }