body {
  margin: 0; /* eliminates margin spacing on body so that the footer color is able to fill the window */
  /* Sets the background for the entire page to a light yellow color */
  background-color:white;
  font-family: 'Open Sans', Anton ; /* Font from Google Fonts */
}

/* begin header styling */
.primary-header {
  text-align: center; /* This will center the main heading and the main image */
}

.main-heading {
  font-size: 100px;
  color: Gray;
}

.town-preview {
  width: 650px;
}
/* end header styling */

/* begin main styling */
.store-section {
  display: flex; /* Makes the content witin this element flexible */
  display: -webkit-flex; /* vendor prefix */
  margin: 50px auto; /* Adds spacing at top of all sections and then centers them */
  width: 450px; /* approximate width of each section */
}

.building {
  width: 200px;
}

.store-details { /* This is the div that contains the text */
  margin-left: 30px;
}

.category-heading {
  color: green;
  font-size: 30px;
}

.store-list {
  padding-left: 15px;
  color: black; /* this will make sure the bullet points turn dark yellow! */
}

.store-name {
  margin-bottom: 10px; /* adds a bit of space at the bottom of each list item */
}

.store-link {
  color: GRAY;
  font-size: 20px;
}
/* end main styling */

/* begin footer styling */



}

.created-by {
  color:Red;
  font-size: 25px;

}
/* end footer styling */
