body{
    background-color: rgba(0, 0, 0, 0.795);
}
nav{
    background-color: grey;
}
.menu{
    display: flex;
    flex-flow:row ;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    justify-content: space-around;
}
.menu li {
    padding: 10px;
}
a{
    color: black;
}
.name{
    display: block;
    margin-right: auto;
}
header{
    height:350px;
    width: 100%;
    background-image:url(./img/xp.jpg);
    background-size: cover;
    text-align: center;
    padding-top: 40px;
}
header img{
    border-radius: 50%;
    border:2px  solid greenyellow;
    transition: all .5s;
}
header img:hover{
        transform: scale(1.4) rotate(45deg);
        border:10px solid purple;
}
img{
    height: 150px;
    width: 150px;
}
.tag{
    background-color:silver;
    display: table;
    color:white;
    margin: 10px auto;
    padding: 10px;
    border-radius: 15%;
}
.hp{
    background-color:yellow;
    color: #000;
}
.grafik{
    height: 130px;
    width: 500px;
    background-color: rgb(194, 190, 190);
}
.centr{
    display: flex;
    justify-content: center;
    color: white;
}
.Fon{
    height: 300px;
    width: 400px;
    background-color: white;
    border:5px outset burlywood;
    border-top-right-radius: 20%;
    border-bottom-left-radius:20% ;
}
.gr{
    background-color: chartreuse;
    border-radius:10%;
}
.yel{
    background-color: yellow;
    border-radius:10%;
}
.re{
    background-color: tomato;
    border-radius:10%;
}
.bl{
    background-color: rgb(68, 68, 228);
    border-radius: 10%;
}
.knopka{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}
.tab{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}
.eng{
    height: 300px;
    width: 360px;
}
.am{
    background-color: white;
    text-align: center;
}
.iii{
    height: 50px;
    width: 50px;
}