body{
    background-color: yellow; display: flex; justify-content: center; 
}
.I{
     height: 100px; width: 100px; background-color: coral;border:3px solid black; display: flex; justify-content: center;
     animation:I 3s 6;
    }
.II{
    height: 100px; width: 100px; background-color: rgb(255, 95, 95);border:5px solid cornsilk;display: flex; justify-content: center;
    animation:II 3s 6;
}
@keyframes I {
    from{ border-radius:0%}
    to{
        border-radius:50%;
    }
    }
    @keyframes II {
        0% {
            border-top-left-radius:0%;
            border-top-right-radius:0%;
            border-bottom-right-radius:0%;                        
            border-bottom-left-radius: 0%;
        }
        25% {
            border-top-left-radius:50%;
        }
        50%{
         border-top-right-radius:50%;
      }
      75%{
        border-bottom-right-radius:50%;
      }
      100%{
        border-bottom-left-radius: 50%;
        border-top-left-radius:50%;
        border-top-right-radius:50%;
        border-bottom-right-radius:50%;}